= render '/shared/side_bar'
.chat-main
  .chat-main__header
    .chat-main__header--group
      .chat-main__header--group-name
        サンプルグループ
      %a.chat-main__header--group-edit-btn(href="groups/edit")
        edit
      .chat-main__header--group-members
        Member:田中太郎  山田花子
  .chat-main__body
    .chat-main__body--message(data-id="#")
      .chat-main__body--message-name
        田中太郎
      .chat-main__body--message-date
        2018/11/23 12:52:17
      .chat-main__body--message-text
        こんにちは
    .chat-main__body--message(data-id="#")
      .chat-main__body--message-name
        山田花子
      .chat-main__body--message-date
        2018/11/23 12:53:17
      .chat-main__body--message-text
        はじめまして
  .chat-main__bottom--form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'chat-main__bottom--form--textbox', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'chat-main__bottom--form-image-upload-button' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'chat-main__bottom--form-upload-icon hidden'
      = f.submit 'Send', class: 'form__submit chat-main__bottom--form--group-edit-btn'
